body{
    background-color:lightblue;
    margin:0;
    
}

header{
height: 100px;
position:sticky;
position:-webkit-sticky;
top:0;
width:100%;
background-color:rgb(130, 130, 252);
z-index: 100;
}

#name{
position:absolute;
top:0;
left:50%;
top:10px;
margin:0;
font-size: 50px;
}

nav{
position:absolute;
right:20%;
top:50%;
}

#logo{
margin-left: auto;
margin-right: auto;
left:10%;
height:90%;
position:relative;
}

main{
background-color: rgb(109, 201, 170);
margin-left: auto;
margin-right: auto;
width: 80%;
}

footer{
height: 30px;
position:absolute;
margin-bottom:0;
width:100%;
background-color:rgb(130, 130, 252);
}

#cover1, #cover2, #cover3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    background-color: rgba(0, 0, 0, 0.4); 
    animation-name: fade;
    animation-duration: 1s;
    animation-delay: 20ms;
    opacity: 0.9; 
    transition: opacity 0.3s; 
}

#cover1:hover, #cover2:hover, #cover3:hover {
    opacity: 0.3; 
}

.boracay, .bohol, .puerto {
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    justify-content: space-between;
    align-items: flex-start;
}

.boracay .content, .bohol .content, .puerto .content {
    flex: 1;
    text-align: left;
}

.boracay img, .bohol img, .puerto img {
    flex: 1;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.boracay h1, .bohol h1, .puerto h1{
    position: absolute;
    margin-top: 3vw;
    width: 90%;
    font-size: 5vw;
    color: white;
    font-family: helvetica, sans-serif;
    font-style: oblique;
    font-stretch: semi-condensed;
    text-decoration: none;
    padding-left: 10px;
    z-index: 3;
}

.boracay p, .bohol p{
    position: absolute;
    margin-top: 10vw;
    width: 90%;
    padding-left: 10px;
    font-size: 2vw;
    color: white;
    z-index: 3;
    font-family: Arial Narrow;
}

.puerto p {
    position: absolute;
    margin-top: 15vw;
    width: 90%;
    padding-left: 10px;
    font-size: 2vw;
    color: white;
    z-index: 3;
    font-family: Arial Narrow;
}

#news {
    padding-top: 50px;
}

.feed {
    width:100%;
    height:500px;
}