
@media (max-width: 800px) and (orientation: landscape), (max-width: 800px) and (orientation: portrait) {

    #aboutUs {
        background-color: rgb(129, 255, 251);
        box-shadow: 2px 2px 4px 4px rgb(40, 79, 77);
        width: 100%;
        max-width: 420px;
        margin: 20px auto;
        padding: 30px 30px;
        border-radius: 10px;
        text-align: justify;
    }


}