@media (max-width: 800px) and (orientation: landscape), (max-width: 800px) and (orientation: portrait) {

    table, tr, th, td {
        background-color: white;
        font-size: 0.65rem;
        border: 1px solid;
        border-collapse: collapse;
    }

    .bohol-img {
        margin: auto;
    }

    .bohol-headline {
        text-align: center;
        margin: 10px auto;
        font-size: 2.3rem;
    }

    .content-section {
        width: 75%;
        padding: 30px;
        padding-top: 5px;
        margin: 70px auto;
        height: 55%;
        text-align: justify;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        gap: 5px;
        background-color: rgb(244, 184, 243);
        border-radius: 25px;
        box-shadow: 2px 2px 4px 4px rgb(105, 65, 104);
        
    }

    .content-section > p {
        font-size: 1.5rem;
        line-height: 20px;
    }

}

.bohol-headline {
    font-size: 2.3rem;
}

main {
    padding-left: 20px;

}

.content-section > * {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    max-width: 1200px;
}

.bohol-img {
    width: 100%;
    max-width: 320px;
}

table, tr, th, td {
    padding: 15px;
    background-color: white;
    border: 1px solid;
    border-collapse: collapse;
}
