@media (max-width: 800px) and (orientation: landscape), (max-width: 800px) and (orientation: portrait) {


  .boracay-headline {
        text-align: center;
        margin: 10px auto;
        font-size: 2.3rem;
    }

    .content-section {
        width: 75%;
        padding: 30px;
        padding-top: 5px;
        margin: 70px auto;
        height: 55%;
        text-align: justify;
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        gap: 5px;
        background-color: rgb(255, 120, 120);
        border-radius: 25px;
        box-shadow: 2px 2px 4px 4px rgb(105, 50, 50);
        
    }

    .content-section > p {
        font-size: 1.5rem;
        line-height: 20px;
    }

  }
.content-section > * {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    max-width: 1200px;
}

.boracay-headline {
    font-size: 2.3rem;
}


.boracay-container {
  padding: 2rem;
}

.bora-slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.boracay-slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: scroll; /* Add overflow-x property for scroll feature */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.boracay-slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.bora-slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.bora-slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.bora-slider-nav a:hover {
  opacity: 1;
  
}

/* Media query for smaller screens */
@media (max-width: 800px) and (orientation: landscape), (max-width: 800px) and (orientation: portrait) {
  .boracay-slider {
      display: flex;
      aspect-ratio: 16/9;
      /* Remove box-shadow and border-radius if not needed on smaller screens */
  }

  .boracay-slider img {
      flex: 1 0 auto;
      object-fit: cover;
      min-width: 100%;
      /* Remove scroll-snap-align property and adjust other properties as needed */
  }
}